html {
  background-color: #272932;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
}
body {
  margin: 0;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* padding-left: 12%; */
  /*  padding-bottom: 20%;*/
}
.square-cont {
  width: 3200px;
  height: 3200px;
  display: flex;
  align-items: center;
  position: absolute;
}
.container{
  height: 800px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3%;
}
.triangle {
  padding-top: 20%;
  top: -50%;
  left: 10%;
  padding: 10px;
  width: 95%;
  height: 95%;
  background-color: #F05D5E;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  margin-top: 2%;
  z-index: 1;
}
.triangle-black {
  width: 95%;
  height: 95%;
  background-color: #ADFCF9;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 1;
}
.triangle-black-nigga {
  width: 95%;
  height: 95%;
  background-color: #272932;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 1;
}
.square {
  position: absolute;
  z-index: 0;
  height: 90.7%;
  width: 90.7%;
  background: #0F7173;
  display: flex;
  align-items: center;
  justify-content: center;
}
.black-square {
  background: black;
  animation: rotate-reverse 10s infinite linear;
}
.black{
  animation: rotate 10s infinite linear;
}

@keyframes rotate{
  0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}
@keyframes rotate-reverse{
  0%{ transform: rotate(0deg); }
	100%{ transform: rotate(-360deg); }
}
